body {
    background-color: #f4f4f4;
}
#container {
    width: 1200px;
    margin-left : auto;
    margin-right: auto;
    background-color: #f4f4f4;
    border: 2px solid black;
}
header {
    font-size:50px;
    text-align: center;
    background-color:rgb(0, 0, 0);
    color:whitesmoke;
}
#body {
    background-color: #f4f4f4;
    font-size: 20px;
    padding: 10px;
}
#profile {
    float: left;
    width:30%;
}
#profile h3{
    text-align: center;
    padding: 0px;
    background-color: rgb(0, 0, 0);
    color: whitesmoke;
    width: 250px;
}
#bio {
    padding: 10px;
    float: right;
    width: 65%;
    line-height: 150%;
}
footer {
    clear: both;
    background-color: black;
    color: white;
    text-align: right;
}
p{
    text-indent: 30px;
}
ul{
    padding: 5px;
}
#bio h1{
    text-align: center;
}